@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*,
*::after,
*::before{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	font-size: 62.5%;
}

body{
	font-family: 'Poppins', sans-serif;
}

.container{
	max-width: 1200px;
	width: 80%;
	margin: auto;
}

.btn{
	display: inline-block;
	text-decoration: none;
	border-radius: 5rem;
	padding: 1em 2.5em;
	margin: 1rem;
	cursor: pointer;
	outline: none;
	font-weight: 500;
}

.btn-primary{
	color: #fff;
	background: #16a083
}
/*###################################################*/
.nav-container input[type='checkbox'],
.nav-container .hamburger-lines{
	display: none;
}

.navb{
	box-shadow: 0 0 10px;
	position: fixed;
	width: 100%;
	background: white;
	color: black;
	opacity: .85;
	z-index: 10;
}

.nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
}

.menu-items{
	order: 2;
	display: flex;
	margin-right: 8rem;
}

.logo{
	margin-left: 10rem;
	order: 1;
	font-size: 3rem;
}

.menu-items li{
	list-style: none;
	margin-right: 2.5rem;
	font-size: 1.5rem;
}

.navb a{
	color: black;
	text-decoration: none;
	font-weight: 500;
}

.navb a:hover{
	color: green;
	transition: color 0.3s ease-in-out;
}
/*##################################################*/

.showcase-area{
	height: 50vh;
	background: linear-gradient(rgba(240,240,240,0.144),rgba(255,255,255,0.336)),url("../img2/header-image2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.showcase-container{
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	align-items: center;
	justify-content: center;
	height: 100%;
}
/*##########################################################*/
.about{
	padding: 50px 0px;
	background: #f5f5f7;
}

.about-wrapper{
	display: flex;
	flex-wrap: wrap:
}

.about h2{
	font-size: 3.2rem;
}

.about p{
	font-size: 1.6rem;
	color: #555;
}

.about .small{
	font-size: 1.6rem;
	color: #666;
	font-weight: 600;
}

.about-image{
	flex: 1 1 400px;
	padding: 30px;
	transform:translateX(150%);
	animation: about-image-animation 1s ease-in-out forwards;
}
@keyframes about-image-animation{
	100%{
		transform:translate(0);
	}
}

.about-text{
	flex: 1 1 400px;
	padding: 30px;
	margin: auto;
	transform:translateX(-150%);
	animation: about-text-animation 1s ease-in-out forwards;
}
@keyframes about-text-animation{
	100%{
		transform:translate(0);
	}
}

.about-image img{
	display: block;
	height: 400px;
	max-width: 100%;
	object-fit: cover;
	margin: auto;
	object-position: center;
}
/*#############################################################*/
.food{
	padding: 5rem 0 10rem 0;
}

.food h2{
	text-align: center;
	font-size: 3rem;
	font-weight: 400;
	margin-bottom: 40px;
	color: #555;
}

.food-container{
	display: flex;
    justify-content: space-between;
}

.food-container img{
	display: block;
	width: 100%;
	max-height: 300px;
	object-fit: center;
	margin: auto;
	object-position: center;
}

.img-container{
	margin: 1rem;
	position: relative;
}

.img-contant{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	z-index: 2;
	text-align: center;
	transition: all 0.3s ease-in-out 0.1s;
}

.img-contant h3{
	color: white;
	font-size: 3rem;
}

.img-contant a{
	font-size: 1.3rem;
}

.img-container::after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.871);
	z-index: 1;
	opacity: 0;
	transform: scaleY(0);
    transform-origin: 100% 100%;
	transition: all 0.3s ease-in-out;
}

.img-container:hover::after{
	opacity: 1;
	transform: scaleY(1);
}

.img-container:hover .img-contant{
	opacity: 1;
	top: 40%;
}
/*##############################################################*/
.food-menu{
	font-size: 4rem;
	text-align: center;
	font-weight: 400;
	color: #666;
}

.food-menu-container{
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0 30px 0;
}

.food-menu-container img{
	display: block;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;	
}


.food-menu-item{
	display: flex;
	flex: 1 1 600px;
	justify-content: space-evenly;
	margin-bottom: 5rem;
}

.food-description{
	margin: auto 1.5rem;
}

.food-title{
	font-size: 2.2rem;
	font-weight: 400;
	color: #444;
}

.food-description p{
	font-size: 1.4rem;
	color: #555;
	font-weight: 500;
}

.food-description .food-price{
	color: #117964;
	font-weight: 700;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.testimonial{
	padding: 5rem;
	background: rgba(243,243,243);
}

.testimonial-title{
	text-align: center;
	color: #555;
	font-weight: 400;
	font-size: 3rem;
}

.testimonial-container{
	display: flex;
	justify-contant: space-between;
	font-size: 1.6rem;
	padding: 1rem;
}

.testimonial-container .checked{
	color: #ff9529;
}

.testimonial-box .testimonial-text{
	margin: 1rem;
	color: #444;
}

.testimonial-box{
	text-align: center;
	padding: 1rem;
}

.customer-photo img{
	display: block;
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	margin: auto;
}
/*#################################*/
.contact{
	padding: 5rem;
	background: rgba(226,226,226);
}

.contact-container{
	display: flex;
	background: #fff;
}

.contact-image{
	width: 50%;
}

.contact-img img{
	display: block;
	height: 500px;
	object-fit: cover;
	width: 100%;
	object-position: center;
}

.form-container{
	padding: 1rem;
	width: 50%;
	margin: auto;
}

.form-container input{
	display: block;
	width: 100%;
	border: none;
	border-bottom: 2px solid #ddd;
	padding: 1rem;
	margin-bottom: 1rem;
	color: #444;
	font-weight: 500;
}

.form-container textarea{
	display: block;
	width: 100%;
	border: none;
	border-bottom: 2px solid #ddd;
	padding: 1rem;
	margin-bottom: 1rem;
}

.form-container h2{
	font-size: 3rem;
	font-weight: 400;
	color: #444;
	margin: 1rem;
}

.form-container a{
	font-size: 1.2rem;
}

.footer h2{
	text-align: center;
	font-size: 2rem;
	padding: 3rem;
	font-weight: 500;
	color: #fff;
	background: rgb(65,65,65)
}

/*########################################################*/

@media (max-width: 768px){
    .navb{
		opacity: .95;
	}
	
	.nav-container input[type='checkbox'],
	.nav-container .hamburger-lines{
		display: block;
	}
	
	.nav-container{
		display: block;
		position: relative;
		height: 64px;
	}
	
	.nav-container input[type='checkbox']{
		position: absolute;
		height: 32px;
		width: 40px;
		top: 20px;
		left: 20px;
		z-index: 5;
		opacity: 0;
	}
	
	.nav-container .hamburger-lines{
		display: block;
		height: 32px;
		width: 40px;
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.nav-container .hamburger-lines .line{
		display: block;
		height: 4px;
		width: 200%;
		border-radius: 10px;
		background: #333;
	}
	
	.nav-container .hamburger-lines .line1{
		transform-origin: 0% 0%;
		transition: transform .4s ease-in-out;
	}
	
	.nav-container .hamburger-lines .line2{
		transition: transform .4s ease-in-out;
	}
	
	.nav-container .hamburger-lines .line3{
		transform-origin: 0% 100%;
		transition: transform .4s ease-in-out;
	}
	
	.navb .menu-items{
		padding-top: 100px;
		background: #fff;
		height: 100vh;
		max-width: 300px;
		transform: translate(-150%);
		display: flex;
		flex-direction: column;
		margin-left: -40px;
		padding-left: 50px;
		margin-left: -40px;
		transition: transform .5s ease-in-out;
		box-shadow: 5px 0px 10px 0px #aaa;
	}
	
	.navb .menu-items li{
		margin-bottom: 3rem;
		font-size: 2rem;
		font-weight: 500;
	}
	
	.logo{
		position: absolute;
		top: 10px;
		right: 15px;
		font-size: 3rem;
	}
	
	.nav-container input[type='checkbox']:checked ~ .menu-items{
		transform: translateX(0);
	}
	
	.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line1{
		transform: rotate(45deg);
	}
	
	
	.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line2{
		transform: scaleY(0);
	}
	
	
	.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line3{
		transform: rotate(-45deg);
	}
}